@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: block;
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: block;
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
}
